body{

    font-family: Arial;

    background: #ececec;

    margin: 0;

    padding: 30px;
}

.contenedor{

    width: 95%;

    margin: auto;
}

h1{

    text-align: center;

    margin-bottom: 40px;
}

.seccion{

    background: white;

    padding: 20px;

    margin-bottom: 30px;

    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2{

    background: #222;

    color: white;

    padding: 10px;

    border-radius: 5px;
}

table{

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;
}

table th{

    background: #333;

    color: white;

    padding: 12px;
}

table td{

    padding: 10px;

    text-align: center;

    border: 1px solid #ccc;
}

input{

    padding: 10px;

    margin: 5px;

    width: 200px;
}

button{

    padding: 10px 20px;

    border: none;

    border-radius: 5px;

    cursor: pointer;

    background: #2196f3;

    color: white;
}

button:hover{

    opacity: 0.8;
}

.btnEliminar{

    background: red;
}

.btnEditar{

    background: #2196f3;
}


/* ========================= */
/* RESPONSIVE MOVIL */
/* ========================= */

body{

    margin: 0;
    padding: 10px;

    font-family: Arial;

    background: #f5f5f5;
}

/* ========================= */
/* RESPONSIVE MOVIL */
/* ========================= */

.tabla-responsive{

    width: 100%;

    overflow-x: auto;
}



table{

    width: 100%;

    min-width: 900px;

    border-collapse: collapse;
}



/* CELULAR */

@media(max-width: 768px){

    body{

        padding: 10px;
    }

    h1{

        font-size: 30px;

        text-align: center;
    }

    table{

        min-width: 1000px;
    }

    td{

        font-size: 14px;
    }

    button{

        padding: 8px;
    }

    input{

        width: 100%;

        margin-bottom: 10px;

        box-sizing: border-box;
    }
}

/* =========================
RESPONSIVE MOVIL
========================= */

.menu-btn{

    display: none;

    width: 100%;

    padding: 15px;

    background: #222;

    color: white;

    border: none;

    font-size: 20px;

    cursor: pointer;
}

/* TABLAS */

.tabla-responsive{

    width: 100%;

    overflow-x: auto;
}

table{

    min-width: 700px;
}

/* INPUTS */

input{

    width: 100%;

    padding: 12px;

    margin-top: 10px;

    margin-bottom: 10px;

    border-radius: 10px;

    border: 1px solid #ccc;

    box-sizing: border-box;
}

/* BOTONES */

button{

    padding: 10px 15px;

    border: none;

    border-radius: 10px;

    cursor: pointer;
}

/* MOVILES */

@media(max-width: 768px){

    .menu-btn{

        display: block;
    }

    .contenedor{

        padding: 10px;
    }

    h1{

        font-size: 28px;

        text-align: center;
    }

    h2{

        font-size: 22px;
    }

    .seccion{

        padding: 15px;
    }

    table{

        font-size: 14px;
    }

    td, th{

        padding: 8px;
    }
}